Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@Vito84 
Vito84
/
DZ1.1
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
DZ1.1/.gitignore
@Vito84
Vito84 Создание репозитария
Latest commit e43cdb6 5 hours ago
 History
 1 contributor
45 lines (39 sloc)  436 Bytes
  
Thumbs.db*
.DS_Store*
HELP.md
.gradle
build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Package Files ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

###
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete
